<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mr_database</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping class="com.marmansys.entity.ShopUser"/>
    <mapping class="com.marmansys.entity.Generic"/>
    <mapping class="com.marmansys.entity.UserRole"/>
    <mapping class="com.marmansys.entity.Payment"/>
    <mapping class="com.marmansys.entity.MedicalRepresentative"/>
    <mapping class="com.marmansys.entity.Zone"/>
    <mapping class="com.marmansys.entity.Manager"/>
    <mapping class="com.marmansys.entity.MedicineType"/>
    <mapping class="com.marmansys.entity.Company"/>
    <mapping class="com.marmansys.entity.Medicine"/>
    <mapping class="com.marmansys.entity.OrderDetail"/>
    <mapping class="com.marmansys.entity.Order"/>
    <mapping class="com.marmansys.entity.MeasurementUnit"/>
    <mapping class="com.marmansys.entity.Offer"/>
    <mapping class="com.marmansys.entity.User"/>
  </session-factory>
</hibernate-configuration>
